* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 200px;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  z-index:9999;
  font-family: 'Courier New', Courier, monospace;
}

.search-bar-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hac-icon {
  width: 10vw;
}

.title-logo {
  width: 50vw;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-items:center;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  list-style: none;
}

.nav>li {
  position: relative;
}

.nav>li>ul{
  display: none;
}

.nav>li:hover ul{
  display: block;
} 

.nav li ul a{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  background-color: white;
  border: solid 1px lightgray;
}

.nav li ul a:hover {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  color:white;
  background-color: black;
} 

.chef-page, .logout, .mypage {
  text-decoration: none;
  margin-right: 4vw;
  color: #333333;
}

.mypage-child {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}