.AccountPage__title{
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.Account__info{
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
}

.Account__info>h2{
  font-weight: bold;
}

.content{
  margin-top: 60px;
}

.sold-out{
  margin-bottom: 60px;
}

.order{
  margin-bottom: 60px;
}

/* a{
  display: block;
  margin-bottom: 60px;
} */

.Card_info{
  margin-bottom: 60px;
  text-align: center;
}

.Card__title{
  text-align: center;
  font-size:20px;
}

.card-form{
  width: 500px;
 }
 
.form-wrap{
  display: flex;
  flex-direction: column;
 }
 
.exp_month{
  resize:none;
}
 
 .exp_year{
  resize:none;
 }
 
.update{
  margin-bottom: 40px;
}

.input-expiration-date-wrap{
  display: flex;
}

.button{
 margin-top: 30px;
 height: 30px;
 width: 100px;
}